<template name="helpContentDECategoryBonus">

    (##) Bonus-Lernphase

    <a href="/img/help/de/Bonus.jpg" data-lightbox="img-1"
       data-title="Bonusphase verwalten">
        <img src="/img/help/de/Bonus.jpg" alt="Bonus"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Detailansichten:</strong> Klick die Drop-down-Menüs an,
            um alle Details der Kartei und der Bonus-Lernphase einzusehen.
        </li>
        <li><strong>Optionen der Bonusphase:</strong> Hier kannst du den Lernfortschritt der Lernenden einsehen und als Excel-Tabelle exportieren.
            In der Tabelle wird die Anzahl der Karten gemäß der 5-Fächer-Lernkarteimethode von Leitner in den einzelnen Fächern (Boxen) aufgeführt.
            Die Tabelle dient dir als Lehrperson für die geordnete Bonusvergabe.
        </li>
    </ul>
</template>
